@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Itim&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Itim', cursive;

}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 0px 5px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0px 5px;
}

#nav img{
    height: 60px;
    width: 60px;
}

#main{
    width: 100%;
    background-color: rgb(220, 157, 101);
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#player{
    width: 85%;
    height: calc(100vh - 200px);
    position: absolute;
    background-color: black;
    top: 22px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.left{
    height: 100%;
    width: 70%;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;    
}

.left::-webkit-scrollbar{
    display: none;
}

.right{
    height: 100%;
    width: 30%; 
    position: relative;
}
.right img{
    width: 100%;
    height: 46%;
    bottom: 0;
    position: absolute;
}

.songItem{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.836);    
}
.songItem:hover{
    background-color: rgba(255, 255, 255, 0.11);
    color: black;
}

.songItem img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid white;
    object-fit: cover;
}


.songItem i{
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

.songItem h3{
    font-size: 25px;
    font-weight: 900;
}

#bottom{
    position: absolute;
    bottom: 0;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 70px;
    padding-top: 10px;
}
#bottom input{
    width: 70%;
    cursor: pointer;
}
#icon{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15vw;
    justify-content: space-evenly;
    font-size: 30px;
    padding-top: 5px;
}

@media (width < 600px) {
    #bottom{
        height: 90px;   
    }    
    .right{
        opacity: 0;
        height: 0%;
        width: 0%;
    }
    .left{width: 100%;}

    #player{
        width: 90%;
    }

    #nav img{
        height: 40px;
        width: 40px;
    }

    .menu h2{
        font-size: 15px;
    }
}

@media (width < 391px) {

    #nav img{
        height: 30px;
        width: 30px;
    }

    .menu h2{
        font-size: 14px;
    }
}
